{{ attach_library('belzamo/exblock') }}
<section class="testini">

  {% trans %}
    <a href="{{ link }}">Press me I am link</a>
    <br>
    <em>{{ text }}</em>
    <br>
    <em>
      {{ html | raw }}
    </em>
  {% endtrans %}
</section>
